.postCard {
  background: rgba(255, 255, 255, 0.137);
  border-radius: 20px;
  padding: 20px 24px;
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 14px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.postCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0.1);
}

.postText {
  font-size: 17px;
  font-weight: 500;
  color: #edecec;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.postText::first-letter {
  text-transform: uppercase;
}

.postDate {
  font-size: 14px;
  color: #666;
  font-family: "Oswald", sans-serif;
}

.postText {
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.postButton {
  margin-top: auto;
  padding: 12px;
  border: none;
  background: #646cff;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.25s ease;
  font-family: "Dela Gothic One", sans-serif;
}

.postButton:hover {
  background: #4d53d9;
}

.postButton {
  text-decoration: none;
}
